
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vinkim's blog</title>
  <form method='post' action='/store_details'>

    <p>Vinkim's Blog</p>
     <button type="button" onClick="location.href='/logout'">Log out</button>
    <p>Title: <input type="text" name="title" required></p>
    <p>Date:<input type="date" name="date"></p>
    <p>Body Text:<input type="text" name="remarks"></p>
    <button type="submit">Save</button>


  </form>
  <hr>
  {content}
</html>